.new-team-button {
    background-color: var(--button-bg);
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
}

.teams-container {
    display: flex;
    flex-direction: column;
    gap: 6px;
    min-width: 400px;
    font-size: 12px;
    width: 30%;
}

.team-container {
    position: relative;
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: space-between;
    gap: 10px;
    padding: 4px;
    color: var(--black);
    box-shadow: 0px 2px 0px 0px var(--button-bg);
    border-radius: 2px;
}

.team-container:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
}

.team-name {
    flex: 1;
    overflow: hidden;
    text-overflow: clip;
    white-space: nowrap;
}

.team-info {
    display: flex;
    gap: 10px;
    align-items: center;
}

.badge-container {
    background-color: var(--primary-color);
    color: white;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 5px;
    min-width: 50px;
    text-align: center;
    font-weight: 500;
    text-overflow: clip;
    white-space: nowrap;
}

.team-detail {
    flex: 1;
    min-width: 700px;
}
