.projects {
    /* padding: 10px; */
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--button-bg);
    padding: 10px 0;
}

.page-header h1 {
    font-weight: 400;
    font-size: large;
}

.new-project-button {
    background-color: var(--button-bg);
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
}

.projects-container {
    display: flex;
    flex-direction: column;
    gap: 6px;
    min-width: 600px;
    font-size: 12px;
    width: 50%;
}

/* .project-container::before {
    position: absolute;
    content: '';
    width: 3px;
    height: 3px;
    display: block;
    background-color: var(--black);
    left: -5px;
    border-radius: 50%;
} */

.project-container {
    position: relative;
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: space-between;
    gap: 10px;
    padding: 4px;
    color: var(--black);
    box-shadow: 0px 2px 0px 0px var(--button-bg);
    border-radius: 2px;
}

.project-container:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
}

.project-name {
    flex: 1;
    overflow: hidden;
    text-overflow: clip;
    white-space: nowrap;
}

.project-info {
    display: flex;
    gap: 10px;
    align-items: center;
}

.badge-container {
    background-color: var(--primary-color);
    color: white;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 5px;
    min-width: 50px;
    text-align: center;
    font-weight: 500;
    text-overflow: clip;
    white-space: nowrap;
}

.project-detail {
    flex: 1;
    min-width: 700px;
}
