.form-container {
    width: 600px;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.header-button {
    cursor: pointer;
    padding: 3px;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
}

.header-button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.dropdown-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 14px;
}

.project-description {
    height: 200px;
    resize: none;
}

.btn-add {
    background-color: var(--button-bg);
    border: none;
    align-self: flex-end;
    padding: 10px;
    font-weight: 600;
    cursor: pointer;
}

.add_team_member-input-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.add_team_member-input-group [type='email'] {
    flex: 1;
    height: 40px;
    padding: 6px;
    font-size: 16px;
}

.add_team_member-form {
    margin-top: 30px;
}

.add_team_member-input-group div {
    display: flex;
    gap: 20px;
}

.add_team_member-btn {
    width: 200px;
    height: 40px;
    padding: 6px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    background-color: var(--primary-color);
    color: var(--white);
    cursor: pointer;
}

/** --------------- ADD TASK FORM ----------------- **/

.add_task-container {
    width: 800px;
    min-height: 750px;
}

.add_task-container form {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.add_task-input-group {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-bottom: 15px;
}

.add_task-label {
    font-size: 20px;
    font-weight: 600;
}

.add_task-input-group [type='text'] {
    height: 36px;
    font-size: 16px;
    font-family: Inter, sans-serif;
    padding: 8px;
}

.add_task-input-group textarea {
    height: 300px;
    resize: none;
}

.add_task-assignees-container {
}

.add_task-assignees-dropdown {
    position: relative;
    background-color: var(--secondary-bg);
    padding: 10px;
    cursor: pointer;
    display: flex;
    user-select: none;
    display: flex;
    gap: 10px;
}

.add_task-assignees-empty {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
}

.add_task-assignee-badge {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: var(--button-bg);
    padding: 5px 10px;
    border: 4px;
}

.add_task-assignee-badge svg {
    padding: 3px;
}

.add_task-assignee-badge svg:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.add_task-assignees-dropdown-container {
    position: absolute;
    top: 50px;
    left: 0;
    background-color: var(--white);
    width: 100%;
    max-height: 150px;
    overflow: auto;
}

.add_task-assignees-dropdown-item {
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 10px;

    background-color: var(--secondary-bg);
    border-bottom: 1px solid var(--button-bg);
    font-size: 14px;
    font-weight: 500;
}

.add_task-assignees-dropdown-item:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.add_task-assignees-dropdown-item img {
    height: 26px;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.add_task-story-point {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 20px 0;
}

.add_task-story-point [type='number'] {
    padding: 8px;
    width: 50px;
}

.add_task-btn {
    padding: 10px;
    justify-self: flex-end;
    align-self: flex-end;
    background-color: var(--button-bg);
    width: 200px;
    font-size: 16px;
    font-weight: 500;
    border: none;
    cursor: pointer;
}

/* ------------------ADD SPRINT FORM ---------------------- */

.add_sprint-container {
    width: 800px;
}

.add_sprint-header-actions {
    display: flex;
    gap: 10px;
}

.add_sprint-form {
    display: flex;
    flex-direction: column;
}

.add_sprint-input-group {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-bottom: 15px;
}

.add_sprint-label {
    font-size: 20px;
    font-weight: 600;
}

.add_sprint-input-group [type='text'] {
    height: 36px;
    font-size: 16px;
    font-family: Inter, sans-serif;
    padding: 8px;
}

.add_sprint-input-group textarea {
    height: 300px;
    resize: none;
    padding: 10px;
    font-family: Inter, sans-serif;
}

.add_sprint-btn {
    align-self: flex-end;
    background-color: var(--primary-color);
    color: var(--white);
    border: none;
    font-weight: 600;
    padding: 8px 16px;
    cursor: pointer;
}

/*------------------DATE PICKER-----------------------*/

.date_picker-container {
    width: 440px;
}

.date_picker-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.date_picker-input-group {
    display: flex;
    gap: 10px;
    align-items: center;
}

.date_picker-input-group label {
    font-weight: 600;
    font-size: 18px;
}

.date_picker-input-group [type='date'] {
    width: 300px;
    font-size: 20px;
    border: none;
    border-bottom: 1px solid var(--black);
    outline: none;
    user-select: none;
    font-weight: 600;
}

.date_picker-btn {
    align-self: flex-end;
    background-color: var(--button-bg);
    color: var(--black);
    padding: 8px 16px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

/*------------ ADD PROJECT MEMBER -------------*/

.add_project_member-form {
    margin-bottom: 20px;
}

.add_project_member-search {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
}

.add_project_member-search [type='text'] {
    height: 30px;
    border: none;
    border-bottom: 1px solid var(--black);
    width: 400px;
    padding: 8px;
    outline: none;
}

.add_project_member-search button {
    height: 30px;
    border: none;
    background-color: var(--button-bg);
    padding: 8px 30px;
    outline: none;
    cursor: pointer;
    font-weight: 600;
}

.add_project_member-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid var(--button-bg);
    gap: 10px;
    width: 700px;
    padding: 10px;
}

.add_project_member-item div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.add_project_member-item img {
    height: 32px;
    width: 32px;
    border-radius: 50%;
}

.add_project_member-item button {
    font-weight: 500;
    padding: 8px 16px;
    border: none;
    background-color: var(--primary-color);
    color: var(--white);
    cursor: pointer;
}
